<%= simple_form_for(@viewer, html: { class: "form-horizontal", multipart: true}) do |f| %>
    <%= @viewer.errors.full_messages.to_sentence %>

	<p>
		Upload hier je CV, en andere bestanden die je mee wilt sturen naar de werkgever.<br>
		LET OP: bestandsnaam is vereist.
	</p>

	<div class="files-list">
		<ul>
			<% for file_upload in @viewer.file_uploads %>
			    <li>
			    	<% if file_upload.new_record? %>
			    		<%= f.fields_for :file_uploads, file_upload do |fu| %>
							<div class="form-inputs">
								<%= fu.text_field :name, placeholder: "bestandsnaam (bijv. CV)" %>
								<%= fu.file_field :file %>
							</div>
						<% end %>
			    	<% else %>
				    	<%= link_to "Wijzigen", edit_viewer_file_path(@viewer, file_upload) %> | 
				    	<%= link_to "Verwijderen", viewer_file_path(@viewer, file_upload), method: :delete, confirm: "Weet je het zeker?" %>
				    	<strong><%= file_upload.name %></strong>
				    	<%= file_upload.file_file_name %>
				    <% end %>
			    </li>
			    
			<% end %>

			<% unless @viewer.file_uploads.count >= 4 %>		
				<div id="add_file_form">
					<% @viewer.file_uploads.build %>

					<%= f.fields_for :file_uploads, @viewer.file_uploads.last do |fu| %>
						<div class="form-inputs">
							<%= fu.text_field :name, placeholder: "bestandsnaam (bijv. CV)" %>
							<%= fu.file_field :file %>
						</div>
					<% end %>
				</div>
			<% end %>
			
		</ul>
		
		<% if false %>
			<%= link_to "Nieuw bestand", '#', class: "btn", :id => "new_file_button" %>
		<% end %>
	</div>

	<div class="form-actions" style="background-color:white;">
		<%= f.button :submit, 'sollicitatie bijwerken',class: "btn btn-primary" %>
	</div>
<% end %>