<%= simple_form_for(@viewer, html: { class: "form-horizontal", multipart: true}) do |f| %>
    <%= @viewer.errors.full_messages.to_sentence %>

	<div class="form-inputs">
		<%= f.input :company, label: 'Organisatie', placeholder: 'bijv. Unilever, of ING' %>
		<%= f.input :vacancy, label: 'Functienaam', placeholder: "bijv. salesmanager" %>
	</div>
	
	<hr>
	<p>
		Upload hier je CV, en andere bestanden die je mee wilt sturen naar de werkgever.<br>
		LET OP: bestandsnaam is vereist.
	</p>

	<div class="files-list">
		<ul>
			<% for file_upload in @viewer.file_uploads %>
			    <li>
			    	<% if file_upload.new_record? %>
			    		<%= f.fields_for :file_uploads, file_upload do |fu| %>
							<div class="form-inputs">
								<%= fu.text_field :name, placeholder: "Bestandsnaam (bijv. CV)" %>
								<%= fu.file_field :file %>
							</div>
						<% end %>
			    	<% else %>
				    	<%= link_to "Bewerken", edit_viewer_file_path(@viewer, file_upload) %> | 
				    	<%= link_to "Verwijderen", viewer_file_path(@viewer, file_upload), method: :delete, confirm: "Weet je het zeker?" %>
				    	<strong><%= file_upload.name %></strong>
				    	<%= file_upload.file_file_name %>
				    <% end %>
			    </li>
			<% end %>
			
		</ul>
		<%#= link_to "New file", new_viewer_file_path(@viewer), class: "btn" %>
	</div>

	<div class="form-actions" style="background-color:white;">
		<%= f.button :submit, "Sollicitatie aanmaken", class: "btn btn-primary" %>
	</div>
<% end %>
