<% if user_signed_in? %>

  <div class="main-section">
    <div class="w-container container">
      <div class="w-row">
        <div class="w-col w-col-4">
          <div class="w-clearfix dashboard">
            <div class="dashboard-whitebox">
              <h2>Dashboard</h2>

              <% @viewers.each do |viewer| %>
            
                <h4><%= viewer.company %> - <%= viewer.vacancy %> | <span class="pull-right"><%= link_to '<a href="#" data-toggle="tooltip" title="Bewerk deze sollicitatie"><i class="icon-wrench"></i></a>'.html_safe, edit_viewer_path(viewer) %> <%= link_to '<a href="#" data-toggle="tooltip" title="Verwijder deze sollicitatie"><i class="icon-trash"></i></a>'.html_safe, viewer, method: :delete, data: { confirm: 'Are you sure? The viewer will be deleted forever.' } %></span></h4>
              <% end %>

            </div>
            
            <%= link_to '<i class="icon-user" style="margin-left:-5px; margin-top:-1px;"></i>'.html_safe, edit_user_registration_path, class: 'button button-secondary button-left', title: 'Jouw Account', rel: 'tooltip' %>

            <%= link_to 'Nieuwe Sollicitatie', new_viewer_path, class: 'button button-main' %>
            
            <a class="button button-right button-secondary" href="http://vicancy.com/solliceo/formulier/" target="_blank"data-toggle="tooltip" title="Video aanmaken"><i class="icon-film" style="margin-left:-5px; margin-top:-1px;"></i></a>

          </div>
        </div>
        <div class="w-col w-col-8">
          <h1 class="w-hidden-medium w-hidden-small w-hidden-tiny">Powerfull features, simplified</h1>
          <h3 class="w-hidden-medium w-hidden-small w-hidden-tiny">Landing your dream job? It's possible now</h3>
        </div>
      </div>
    </div>
  </div> 

<% else %>

  <%= render 'pages/landingpage' %>

<% end %>
