<% if user_signed_in? %>

  <div class="main-section">
    <div class="w-container container">
      <div class="w-row">
        <div class="w-col w-col-4">
          <div class="w-clearfix dashboard">
            <div class="dashboard-whitebox">
              <h2>Dashboard</h2>

              <% @viewers.each do |viewer| %>
            
                <h4><%= viewer.company %> - <%= viewer.vacancy %> | <%= link_to 'Edit', edit_viewer_path(viewer) %> <%= link_to 'Delete', viewer, method: :delete, data: { confirm: 'Are you sure? The viewer will be deleted forever.' } %></h4>

            </div>
            
            <a class="button button-secondary button-left" href="#" target="_self">Q</a>
            <%= link_to 'Add New Viewer', new_viewer_path, class: 'button button-main' %>
            <a class="button button-right button-secondary" href="#">B</a>

          </div>
        </div>
        <div class="w-col w-col-8">
          <h1 class="w-hidden-medium w-hidden-small w-hidden-tiny">Powerfull features, simplified</h1>
          <h3 class="w-hidden-medium w-hidden-small w-hidden-tiny">Landing your dream job? It's possible now</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="footer"></div>  

<% else %>

  <%= render 'pages/landingpage' %>

<% end %>
