<% if user_signed_in? %>

  <div class="white-box"> 
  <h1>Dashboard</h1>
  <div class="row">
    <div class="span3">
      <a href="/viewers" class="btn btn-large btn-block">Your Viewers</a>
    </div>
    <div class="span4">
      <a href="/viewers/new" class="btn btn-small ">Edit all Viewers</a>
      <a href="/videowizard" class="btn btn-small ">Add video</a>
    </div>
  </div>
  
  <h3>Listing viewers</h3>
  <table class="table table-striped table-bordered">
  <tr>
    <th>Company</th>
    <th>Vacancy</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @viewers.each do |viewer| %>
  <tr>
    <td><%= viewer.company %></td>
    <td><%= viewer.vacancy %></td>
    <td><%= link_to 'View', viewer %></td>
    <td><%= link_to 'Edit', edit_viewer_path(viewer) %></td>
    <td><%= link_to 'Delete', viewer, method: :delete, data: { confirm: 'Are you sure? The viewer will be deleted forever.' } %></td>
  </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Viewer', new_viewer_path, class: 'btn btn-large btn-primary' %>

</div>

<% else %>

  <%= render 'pages/landingpage' %>

<% end %>
