<h1>Listing viewers</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Vacancy</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @viewers.each do |viewer| %>
  <tr>
    <td><%= viewer.company %></td>
    <td><%= viewer.vacancy %></td>
    <td><%= link_to 'Show', viewer %></td>
    <td><%= link_to 'Edit', edit_viewer_path(viewer) %></td>
    <td><%= link_to 'Destroy', viewer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Viewer', new_viewer_path %>
