<%= content_for :meta do %>
	<meta property="og:image" content="<%= @thumbnail %>"/>
	<meta property="og:video" content="http://vimeo.com/moogaloop.swf?clip_id=<%= @viewer.user.videoid %>&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=1&amp;color=00ADEF&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" />
	<meta property="og:video:height" content="360" />
	<meta property="og:video:width" content="640" />
	<meta property="og:video:type" content="application/x-shockwave-flash" />
	<meta name="Description" content="<%= "Hallo #{@viewer.company}. Mijn naam is #{@viewer.user.name}. Ik wil graag onderdeel uitmaken van uw team." %>"><!-- meta description for search engines and social sharing -->
<% end %>

<div class="container">
	<% if current_user == @viewer.user %>
		<%= link_to 'Edit', edit_viewer_path(@viewer) %> |
		<%= link_to 'Back', viewers_path %>
	<% end %>

	<div class="box" id="firstBox">
		<iframe id="video" src="http://player.vimeo.com/video/<%= @viewer.user.videoid %>?autoplay=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		<div style="margin:auto;">
		  <h3 style="line-height: 115%;">Hallo <%= @viewer.company %>. Mijn naam is <%= @viewer.user.name %>.
		  </br>
		  Ik wil graag onderdeel uitmaken van uw team.</h3>
		</div>
		<div class="btn-group" style="margin:auto; margin-bottom: 10px;">
		  <button class="span2 btn btn-large btn-primary">Contact Nu</button>
		  <button class="span2 btn btn-large btn-block" data-target="#attached-files-modal" data-toggle="modal">Download CV</button>
		</div>
	</div>

	<div class="content">
		<div class="row-fluid">
			<div id="content" class="span8">
				<ul class="nav tabs">
					<% @viewer.file_uploads.each_with_index do |file, i| %>
						<li <%== 'class="active"' if i ==0 %>><a href="#file-<%= file.id %>" data-toggle="tab"><%= file.name %></a></li>
					<% end %>
				</ul>
				<div class="tab-content">
					<% @viewer.file_uploads.each_with_index do |file, i|  %>
						<div id="file-<%= file.id %>" class="tab-pane <%== 'active' if i ==0 %>">
							<iframe src="https://docs.google.com/gview?url=<%= file.file.url %>&embedded=true"></iframe>
							<p style="padding-left: 15px;"><%= link_to "Download", file.file.url, target: '_blank' %></p>
						</div>
					<% end %>
				</div>
			</div>
			<div class="span4" id="contact-area">
				<div class="company">
					<div style="margin:10px;"> <!-- to set margins properly -->
						<% unless @viewer.user.image.blank? %>
						<div>
							<%= image_tag @viewer.user.image(:medium) %>
						</div>
						<% end %>
						
						<div>
							<h3>Contact</h3>
							<p style=" line-height:110%;">
								<%= @viewer.user.name %> </br>
								<%= @viewer.user.email %> </br>
								<%= @viewer.user.name %> </br>
							</p>
						</div>
						<div class="btn-group">
							<button class="btn btn-primary" href="#">Contact</button>
							<button class="btn" href="#">Download CV</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
 
<!-- Modal -->
<div id="attached-files-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Viewer files:</h3>
  </div>
  <div class="modal-body">
    <% @viewer.file_uploads.each_with_index do |file, i|  %>
		<p style="padding-left: 15px;"><%= link_to "#{file.name}(#{file.file_file_name})", file.file.url, target: '_blank' %></p>
	<% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>