<%= content_for :meta do %>
	<meta property="og:image" content="<%= @thumbnail %>"/>
	<meta property="og:video" content="http://vimeo.com/moogaloop.swf?clip_id=<%= @viewer.user.videoid %>&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=1&amp;color=00ADEF&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" />
	<meta property="og:video:height" content="360" />
	<meta property="og:video:width" content="640" />
	<meta property="og:video:type" content="application/x-shockwave-flash" />
	<meta name="Description" content="<%= "Hallo #{@viewer.company}. Mijn naam is #{@viewer.user.name}. Ik wil graag onderdeel uitmaken van uw team." %>"><!-- meta description for search engines and social sharing -->
<% end %>

<!-- Edit navbar -->

	<% if current_user == @viewer.user %>
  	<div class="navbar navbar-fixed-top navbar-inverse">
	    <div class="navbar-inner">
	    	<div class="container">
  			
      		<%= link_to "Solliceo", root_path, class: "brand" %>
      		<ul class="nav">
        		<li><%= link_to "Dashboard", root_path , title: 'Terug naar Dashboard', rel: 'tooltip' %></li>
        		<li class="dropdown">
        			<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-toggle="tooltip" title="Bewerk deze sollicitatie">
        				Edit
        				<span class="caret"></span>
        			</a>
         			<ul class="dropdown-menu">
        				<li><a href="http://vicancy.com/solliceo/formulier/" target="_blank" data-toggle="tooltip" title="Bewerk jouw video">Bewerk Video</a></li>
        				<li><a data-target="#edit-files-modal" data-toggle="modal" data-toggle="tooltip" title="zoals CV en motivatiebrief. Voeg nieuwe bestanden toe">Bewerk bestanden</a></li>
        				<li class="divider"></li>
        				<li><%= link_to 'Jouw Account', '#user_edit_form', title: 'Pas jouw gegevens aan', rel: 'tooltip', data: {toggle: 'modal', resource: current_user, resource_name: current_user} %></li>
        			</ul>
        		</li>
        	</ul>
        	<ul class="nav pull-right">
      		  <li><%= link_to "Nu Solliciteren", '#application_form', title: 'Verstuur je sollicitatie', rel: 'tooltip', data: {toggle: 'modal', viewer: @viewer} %></li>
<!--            <li><%= link_to "Share" %></li>	 -->
      		</ul>
	      </div>
	    </div>
  	</div>
	<% end %>

<!-- New viewer design -->


<div class="viewer_masthead">
	<div class="w-container">
		<h2>Hallo <%= @viewer.company %>, mijn naam is <%= @viewer.user.name %>
      <br>
    <% if @viewer.vacancy.blank? %>
      Ik wil graag onderdeel uitmaken van uw team
    <% else %>
      Dit is mijn sollicitatie voor <%= @viewer.vacancy %>
    <% end %>
    </h2>
	</div>
</div>

<div class="w-container viewer_container">
  <div class="w-row general-info-bar">
    <div class="w-col w-col-4">
      <% unless @viewer.user.image.blank? %>
        <div class="profile-image-section">
          <%= image_tag @viewer.user.image(:medium), class: "profile-image", style: 'height: 150px;' %>
        </div>
      <% end %>
      <p><strong>Contact gegevens</strong>

        <!-- edit contact info -->
        <% if current_user == @viewer.user %>
           <em><%= link_to '(bewerken)', '#user_edit_form', data: {toggle: 'modal', resource: current_user, resource_name: current_user}, style: 'color:#333;' %></li></em><br>
        <% end %>
        
        <% unless @viewer.user.email.blank? %>
          <a style="color:#333;" href="mailto:<%= @viewer.user.email %>" target="_blank">Email</a><br>
        <% end %>

        <% unless @viewer.user.phone.blank? %>
          <%= @viewer.user.phone %><br>
        <% end %>
        
        <% unless @viewer.user.linkedin.blank? %>
          <a style="color:#333;" href="<%= @viewer.user.linkedin %>" target="_blank">Linkedin</a><br>
        <% end %>

        <% unless @viewer.user.twitter.blank? %>
          <a style="color:#333;" href="https://twitter.com/<%= @viewer.user.twitter %>" target="_blank">Twitter</a><br>
        <% end %>

      </p>
    </div>
    <div class="w-col w-col-5">
      <h5><%= @viewer.title %></h5>
      <p><em><%= @viewer.tagline %></em>
      </p>
    </div>
    <div class="w-col w-col-3"></div>
  </div>
  <div class="video-section">
    <div class="w-embed w-video videoplayer" style="padding-top: 56.27659574468085%;">
      
      <% if @viewer.user.videoid == 0.0 %>
        <iframe id="video" src="http://videowizard.webflow.com/" frameborder="0"></iframe>
      <% else %>
        <iframe src="http://player.vimeo.com/video/<%= @viewer.user.videoid %>?autoplay=0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
      <% end %>
      
    </div>
  </div>

<div class="w-row about-row">
<!-- About & Summary      
    <div class="w-col w-col-4 left-colum">
      <h4>About</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus
        id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
    </div>
    <div class="w-col w-col-8 right-column">
      <h4><%= @viewer.summary_title %></h4>
      <p><%= @viewer.summary %></p>
    </div> 
-->

  <div id="content" style="margin-top: 25px;">
    <ul class="nav tabs">
      <% @viewer.file_uploads.each_with_index do |file, i| %>
        <li <%== 'class="active"' if i ==0 %>><a href="#file-<%= file.id %>" data-toggle="tab"><%= file.name %></a></li>
      <% end %>
    </ul>
    <div class="tab-content box">
      <% @viewer.file_uploads.each_with_index do |file, i|  %>
        <div id="file-<%= file.id %>" class="tab-pane <%== 'active' if i ==0 %>" style="text-align: center;">
          <iframe src="https://docs.google.com/gview?url=<%= file.file.url %>&embedded=true"></iframe>
          <div class="btn-group" style="margin:auto; margin-bottom: 10px;">
            <button class="btn btn-large btn-primary" data-target="#contact-modal" data-toggle="modal">Contact</button>
            <button class="btn btn-large" data-target="#attached-files-modal" data-toggle="modal">Download</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- New viewer design end-->
 
<!-- Modal -->
<div id="contact-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Contact info:</h3>
  </div>
  <div class="modal-body">
  	

    <p style=" line-height:110%;">
      Dag <%= @viewer.company %>,<br><br>

      ik zou graag verder kennis maken.<br>
      Via de gegevens hieronder kunt u mij bereiken.<br><br>

      Met vriendelijke groet,<br><br>

      <strong><%= @viewer.user.name %></strong></br></br>

    	<% unless @viewer.user.email.blank? %>
        <a style="color:#333;" href="mailto:<%= @viewer.user.email %>" target="_blank">Email -- <%= @viewer.user.email %></a><br>
      <% end %>

      <% unless @viewer.user.phone.blank? %>
        Telefoon -- <%= @viewer.user.phone %><br>
      <% end %>
        
      <% unless @viewer.user.linkedin.blank? %>
        <a style="color:#333;" href="<%= @viewer.user.linkedin %>" target="_blank">Linkedin</a><br>
      <% end %>

      <% unless @viewer.user.twitter.blank? %>
        <a style="color:#333;" href="https://twitter.com/<%= @viewer.user.twitter %>" target="_blank">Twitter</a><br>
      <% end %>
		</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<div id="attached-files-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Download bestanden:</h3>
  </div>
  <div class="modal-body">
    <p><em>Klik op de bestanden die u wilt downloaden</em></p>
    <% @viewer.file_uploads.each_with_index do |file, i|  %>
		<p style="padding-left: 15px;"><%= link_to "<strong>#{file.name}</strong> -- (#{file.file_file_name})".html_safe, file.file.url %></p>
	<% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<div id="edit-files-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Bewerk bestanden</h3>
  </div>
  <div class="modal-body">

  	<%= render 'edit_form' %>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Sluiten</button>
  </div>
</div>

<div class="modal hide" id="application_form">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Verstuur Sollicitatie</h3>
  </div>
  <div class="modal-body">
  	<% if current_user %>
    	<%= render partial: 'applications/form', locals: {application: @application, viewer: @viewer} %>
    <% end %>
  </div>
</div>

<% if current_user == @viewer.user %>
  <!-- account settings modal -->
  <div id="user_edit_form" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Account Instellingen</h3>
    </div>
    <div class="modal-body">
      <%= render partial: 'devise/registrations/edit', locals: {resource: current_user, resource_name: current_user} %>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>
<% end %>