<table border="0" cellspacing="0" cellpadding="0" width="720">
<tbody><tr>
<td width="60"></td>
      <td>
     
      </td>
      <td width="60"></td>
    </tr>
<tr>
<td valign="top" style="text-align:right;padding-bottom:25px">
<br>
      </td>
      <td>
        <table border="0" cellspacing="0" cellpadding="0" width="100%" style="border-spacing: 0; border: 2px solid black; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;">
            <tbody><tr height="44"><td width="600" height="44" style="background:#becddb; -moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px; border-top-left-radius: 10px; -moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px; border-top-right-radius: 10px; -webkit-background-clip:padding-box; -moz-background-clip:padding; background-clip:padding-box;"><p style="font-size:20px;margin-left:20px;font-weight:normal;font-family:Helvetica,sans-serif;">Hallo <%= @viewer.company %>, I would like to join your team!</p></td>
</tr>
<tr style="">
<td>
<table border="0" cellspacing="0" cellpadding="0" width="100%" style="line-height:0px; border-top: 2px solid black;">
<tbody><tr>
<td width="5"></td>
<td bgcolor="" style="padding:0;padding-bottom:25px">
<div style="padding:0px 33px;min-height:104px">
<table border="0" cellpadding="0" cellspacing="0"><tbody><tr>
<td style="vertical-align:top;font-family:Helvetica,sans-serif;font-size:13px;line-height:20px;color:#46494d">
<div style="padding-top:15px;margin-top:0;margin-right:0;margin-bottom:12px;margin-left:0">
    <span style="margin-left:300px;"><a href="mailto:qieter@gmail.com" target="_top"><%= @application.from %></a></span>
<br><br>
<%= @application.text_body.html_safe %>
</div>
</td>
</tr></tbody></table>
</div>
</td>
<td width="5"></td>
</tr>
<tr style="">
<td colspan="3"></td>
</tr>
</tbody></table>
</td>
          </tr>
<tr style="">

<td>
	        <table border="0" cellspacing="0" cellpadding="0" width="100%"><tbody><tr>
<td width="5"></td>
	              <td bgcolor="#ffffff" style="padding:0;margin-top:1px;margin-right:0;margin-bottom:0;margin-left:0">
                  <div style="padding:0 33px;min-height:20px">
                    <table border="0" cellpadding="0" cellspacing="0" style="padding-top:10px;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding-top:0px;margin-top:1px;margin-right:0;margin-bottom:0;margin-left:0">
<tbody><tr>
<td style="vertical-align:top;font-family:Helvetica,sans-serif;font-size:13px;line-height:20px;color:#46494d;padding:0 10px 0 0;font-family:Helvetica,sans-serif;font-size:13px;line-height:14px;margin-top:0;color:#ffffff">
 <span style="text-decoration:none;color:#46494d;font-weight:normal">Please review my application here:</span>
    <br><br><br><br>
 <div>
     <span style="font-family:Helvetica,sans-serif;font-size:20px;padding:10px 20px;background:#fdee1c;text-decoration:none;color:#46494d;font-weight:bold; border: 2px solid black; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 50px;"><a href="/<%= @viewer_url %>" style="color:#46494d;text-decoration:none;margin-right:10px;line-height:19px" target="_blank">My application</a></span>   
     <span style="font-family:Helvetica,sans-serif;margin-left:20px;padding:5px 20px;backfround:#e6e6e6;text-decoration:none;color:#46494d;font-weight:bold; border: 2px solid black; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 50px;"><a href="<%= @file_url %>" style="color:#46494d;font-size:16px;text-decoration:none;" target="_blank">Download CV</a></span>
 </div>
    <br><br>
</td>
</tr></tbody></table>
</div>
                </td>
	            <td width="5"></td>
	          </tr></tbody></table>
</td>
          </tr>
<tr height="17"><td></td>
</tr>
</tbody></table>
</td>
      <td></td>
    </tr>
<tr style="padding:5px;font-size:11px;color:#95989b">
<td></td>
      <td>
        <table border="0" cellspacing="0" cellpadding="0" width="100%"><tbody><tr>
<td>
              
            </td>
            <td>
                <p style="font-family:Helvetica,sans-serif;font-size:13px;line-height:20px;padding-top:0px;margin-top:0;color:#46494d;margin-bottom:19px;margin-right:0;margin-left:39px;text-align:right;">
                <a href="http://www.solliceo.com" style="color:#46494d;font-size:11px;text-decoration:none;margin-right:10px;line-height:19px" target="_blank">About Solliceo</a>
                <a href="http://www.solliceo.com" style="color:#46494d;font-size:11px;text-decoration:none;margin-right:10px;line-height:19px" target="_blank">Questions</a>
                <a href="http://www.solliceo.com" style="color:#46494d;font-size:11px;text-decoration:none;margin-right:10px;line-height:19px" target="_blank">Legal</a>
              </p>
            </td>
            <td width="31">  
            </td>
          </tr></tbody></table>
</td>
      <td></td>
    </tr>
<tr height="40">
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody></table>