<!DOCTYPE html>
<html>
<head>
	<!-- this is the application.html.erb layout file -->
  <title>Solliceo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "platform", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "platform" %>
  <%= csrf_meta_tags %>
  <%= yield :meta %>
</head>
<body>
	
	<div class="container">	
		<div class="row">
			<div class="span8 offset2">
				<% flash.each do |name, msg| %>
					<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
				<% end %>
			</div>
		</div>	

		<%= yield %>

	</div>
	
	<%= render 'layouts/footer' %>
	
</body>
</html>
